header {
    text-align: center;
    background-color: rgb(0, 100, 0);
    margin: auto;
    padding: 5px;
    color: white;
    max-width: 1020px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border: 2px solid #dadada;
}

.sub-header {
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
a {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    margin: 0 auto;
    margin: 2%;
}

.sub-header {
    padding: 5%;
    line-height: 10px;
}

section img {
    height: 600px;

}
main {
    font-family: "PT Serif";
    margin: auto;
    max-width: 1040px;
}

section {
    border: 2px solid #dadada;
    border-radius: 10px;
}

p {
    font-family: "Roboto";
    padding: 0 2rem;
}


