body {
    max-width: 1020px;
    margin: auto;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .images img {
     width: 400;
     height: 300px;
     margin: 2rem;
 }


