@media only screen and (min-width: 920px) {
    nav {
       
        background-color: #dadada;
    }

    header button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        flex-direction: row;
        padding: 15px;
        margin-left: 3%;
    }

    nav ul li {
        
    }

    nav ul li a {
        padding: 1rem 2rem;
    }

    nav ul li.selected a {
        border-bottom: solid 4px #333333;
        font-weight: 900;
    }

}