@media only screen and (min-width: 920px) {
    nav {
        display: block;
        justify-content: center;
        background-color: #dadada;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        justify-content: center;
    }

    nav ul {
        margin-left: 3%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        padding: 1rem 2rem;
    }

    nav ul li.selected a {
        border-bottom: solid 4px #333333;
        font-weight: 900;
    }

    main section img {
        float: left;
    }

    .hero-img {
        position: relative;
    }

    .summary {
        position: absolute;
        text-align: top;
        width: 200px;
        padding: 10px 10px;
        margin: 2%;
    }