/*################# Default ######################*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

p,
h6,
h5,
h4,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
}

/*################# Header ######################*/


header {
    display: flex;
    justify-content: space-between;
    background-color: #666A86;
    line-height: 10px;
    color: white;
    padding: 12px;
}

header div {
    display: flex;
}

header div div {
    display: block;
    margin-left: 10px;
}

header button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
}


header img {
    height: 45px;
    margin: 0 5px;
    border: 1px white solid;
    border-radius: 100%;
}


/*################# Nav ######################*/


nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

.selected {
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #333333;
    color: #fff;
}

.hide {
    display: none;
}


/*################# Clearfix ######################*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*################# Main Section ######################*/

.main-sections {
    background-color: #dadada;
    padding: 25px;
    border: #333333 dashed 1px;
}

.mainSection {
    margin: 5rem 0;
  }
  
.placeHolders {
    background-color: #dadada;
    border: 1px solid #333333;
    margin-top: 2rem;
}

.placeHolders h4 {
    padding-left: 2rem;
}

/*################# Footer ##############*/

footer {
    background-color: #666A86;
    color: #fff;
    display: block;
    text-align: center;
    padding: 25px;
}

/*########### Hero image ################*/











