header {
    display: flex;
    justify-content: space-between;
    background-color: #666A86;
    line-height: 10px;
    color: white;
    padding: 12px;
}

header div {
    display: flex;
    display: row;
}

header div div {
    display: block;
    margin-left: 10px;
}

header button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
}

.main-header {
    padding-left: 5px;
}

header img {
    height: 45px;
    margin: 0 5px;
    border: 1px white solid;
    border-radius: 100%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

p,
h6,
h5,
h4,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: auto;
    max-width: 960px;
}


/*################# Nav ######################*/


nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

nav ul li a.selected  {
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #333333;
    color: #fff;
}

nav ul.hide {
    display: none;
}


/*################# Clearfix ######################*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


main .main-sections {
    background-color: #dadada;
    padding: 25px;
    border: #333333 dashed 1px;
}


/*################# Footer ######################*/



footer {
    margin-top: 15rem;
    background-color: #666A86;
    color: #fff;
    display: block;
    text-align: center;
    padding: 5px;
}
/*################# Hero image ######################


main .hero-img img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.summary {
    color: #000;
    padding: 5px 10px; 
}

*/

/*############ Forecast #########

.forecast {
    border: solid 2px red;
    
}

.forecast h2 {
    background-color: #333333;
    display: block;
    text-align: center;
    color: white;
    padding: 25px 0;
}

.forecast img{
    width: 100%;
    height: 300px;
    
}
*/

