@media only screen and (min-width: 960px) {

    /*----------- MAIN -----------*/

    main {
        
        margin: auto;
    }

    /*----------- NAVIGATION -----------*/
    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 18px;
        padding: 1rem 2rem;
    }

    .logo {
        float: left;
        height: 37px;
        margin-left: 3rem;
    }

    nav ul li a {
        font-size: 18px;
    }





    /*----------- HERO IMAGE -----------*/
    .headline h1 {
        font-size: 48px;
    }

    .headline h4 {
        font-size: 34px;
    }

    .ctaBtn {
        left: 46%;
        margin: 0 2rem 0 0;
    }

    /*----------- NAVIGATION -----------*/




    /*----------- SOCIAL MEDIA -----------*/
    .social-media {
        padding: 1rem 15rem;
    }

    #fb-icon,
    #inst-icon,
    #twit-icon {
        height: 50px;
    }

    .summaries {
        display: flex;
        justify-content: space-around;
        margin: 8rem 0;
        margin-left: 10%;
        margin-right: 10%;
    }

    .summaries div {
        margin: 0 2rem;
    }
    .summary-1, .summary-2, .summary-3 {
        margin: 0;
    }

}