@media only screen and (min-width: 600px) {

    body {
        margin: 0;
    }



    /*----------- NAVIGATION -----------*/
    nav ul li {
        margin: 0;
    }

    nav ul {
        flex-direction: row;
    }

    nav .hide {
        display: flex;
    }

    nav ul li a {
        display: list-item;
        padding: 1rem 1.3rem;
        font-size: 16px;
    }

    nav ul li a:hover {
        background-color: #ffffff;
        color: #008BC9
    }

    nav ul li a.selected {
        background-color: #ffffff;
        color: #008BC9;
    }

    nav button {
        visibility: hidden;
    }



    /*----------- HERO IMAGE -----------*/

    .headline h1 {
        font-size: 28px;
    }

    .headline h4 {
        font-size: 20px;
    }

    .ctaBtn {
        top: 80%;
        left: 36%;
        padding: 1rem 2rem;
    }


    .social-media {
        padding: 1rem 12rem;
    }

    #fb-icon,
    #inst-icon,
    #twit-icon {
        height: 40px;
    }

    .summaries-container {
        max-width: 1280px;
        margin: auto;
        padding: 1rem;
    }

    .summaries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        
    }




    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 960px;
    }

    form legend {
        font-size: 18px;
    }
     
    form input.submitBtn {
        width: 200px;
    }

    .sbs {
        display: flex;
        flex-direction: column;
    }
}