h1,
h6,
h5,
h4,
h3,
h2 {
    font-family: 'Bebas Nueu', sans-serif;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

p,

button {
    font-family: 'Lato', sans-serif;
}


/*----------- NAVIGATION -----------*/
nav {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #008BC9;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #008BC9;
}

nav ul li {
    margin: 15px;
}


.logo {
    padding: .5rem;
    float: left;
    height: 32px;
}

nav button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    float: right;
    margin: .5rem .5rem 0 0;
}

.selected {
    font-weight: bolder;
    border-bottom: 1px solid #ffffff;

}

nav .hide {
    display: none;
    font-size: 18px;
}


.warning {
    background-color: rgb(186, 0, 0);
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}

.warning p {
    margin: 0;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/*------ MAIN --------*/
body {
    background-color: #E6EDF0;
    margin: auto;

}




/*----------- HERO IMAGE -----------*/
.heroImg {
    position: relative;
}

.heroImg img {
    max-width: 100%;
    margin: auto;
    width: 100%;
}

.headline {
    position: absolute;
    left: 50%;
    margin-right: 2rem;
}

.headline h1 {
    text-align: right;
    font-size: 22px;
    font-weight: bolder;
}

.headline h4 {
    text-align: right;
    margin-top: 0;
    color: #ffffff;
    font-weight: bold;
}

.ctaBtn {
    position: relative;
    left: 30%;
    margin-bottom: .5rem;
    border: none;
    padding: .9rem 2rem;
    border-radius: 4px;
    color: #ffffff;
    background-color: #008BC9;
    font-weight: bold;
}






/*----------- SOCIAL MEDIA -----------*/
.social-media {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: -.2rem;
    padding: 1rem 5rem
}




/*----------- PURPOSE -----------*/

.purpose {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem 1rem;
}







/*----------- LOCAL BUSINESS -----------*/

.local-bus {
    margin: 3rem 0;
    padding: 3rem 2rem;
    border-radius: 6px;
}




/*----------- UPCOMING EVENTS -----------*/

.upcoming-events {
    display: flex;
    justify-content: space-between; 
    margin: 3rem 0;
}
.upcoming-events div {
    background-color: #fff;
    padding: 1rem .5rem;
    border-radius: 6px;
    margin: 0 .25rem;
}



/*----------- CITY EVENTS -----------*/




/*----------- SUMMARIES -----------*/
.currentTemp {
    margin: 2rem 0;
    background-color: #E6EDF0 ;
    text-align: center;
    color:#000;
    padding: 2rem 0;
}








/*----------- SUMMARIES -----------*/

.summaries-container {
    max-width: 100%;
    margin: 1rem;
}

.summaries div p {
    margin: 0;
}

.summaries div p:first-letter {
    font-size: 24px;
}

.summaries h3 {
    margin-bottom: .5rem;
}

.summary-1 img,
.summary-2 img,
.summary-3 img {
    max-width: 100%;
}

.summary-1, .summary-2, .summary-3 {
    margin: 0 0 3rem 0;
}







/*----------- FORECAST -----------*/
.threeDayContainer {
    padding: 2rem 0 5rem 0;
    max-width: 100%;
    background-color: #ffffff;
}

.threeDayContainer h1 {
    color: #008BC9;
    padding-top: 1rem;
    text-align: left;
    margin: 0 0 1rem 5rem;
}

.threeDayForecast {
    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    margin: 0 3rem;
}

.threeDayForecast div {
    border-radius: 10px;
    background-color: #E6EDF0;
    width: 40%;
    display: block;
    text-align: center;
    padding: 2rem 0;
    margin: 0 1rem;

}

.threeDayForecast img {
    height: 64px;
}


.threeDayForecast div p {
    color: #008BC9;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}



.threeDayForecast div h2 {
    color: #008BC9;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.threeDayForecast div img {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: .5rem;
}



/*----------- Membership lvls -----------*/
.membership {
    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    margin: auto;
    padding-left: 0;
    
}

.membership div {
    border-radius: 10px;
    background-color: #E6EDF0;
    width: 40%;
    display: block;
    text-align: center;
    padding: 2rem .6rem;
    margin: 0 1rem;
    
}

.membership h2 {
    color: #008BC9;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.membership div ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.membership div ul li {
    padding: .4rem;
}

.joinBtn {
    margin: auto;
    border: none;
    background-color: #008BC9;
    color: #fff;
    border-radius: 6px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto';
    margin-left: 4rem;
}

.contactBtn {
    margin: auto;
    border: none;
    background-color: #008BC9;
    color: #fff;
    border-radius: 6px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto';
    margin-left: 3rem;
}



/*----------- City TYPES -----------*/
.city-info{
    margin: 0 1rem;
    padding-bottom: 5rem;
}


.city-imgs {
    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    margin: auto;
}

.city-imgs div {
    margin: 1rem 0;
}

.city-imgs div img {
max-width: 100%;
}

.city-info h3 {
    margin-top: 3rem;
}

.events {
    display: flex;
}

.events div {
    background-color: #fff;
    padding: .5rem .5rem;
    margin: 0 .25rem;
    justify-content: space-between;
    border-radius: 6px;
}

.events div:first-child {
    margin-left: 0;
}

.events div h3 {
    font-size: 14px;
    color: #008BC9;
    margin-top: 1rem;
}







/*----------- Directory -----------*/
form {
    background-color: #fff;
    display: block;
    max-width: 100%;
    margin: auto;
    margin-left: 2rem;

}

form legend {
    font-family: 'Roboto';
}

fieldset label {
    display: block;
    margin: 1.3rem 0 0 0;
    font-family: 'Roboto';
}

form fieldset {
    border: none;
    margin: 1rem 2rem;
}

form legend {
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #008BC9;
    width: 100%;
}

form label.top input,
textarea,
select {
    display: block;
    width: 20rem;
    padding: 1rem;
    border: solid 2px #008BC9;
    border-radius: 6px;
    max-width: 80%;
}

form div {
    margin: 1rem 0;
}

form input.submitBtn {
    margin: auto;
    border: none;
    background-color: #008BC9;
    color: #fff;
    border-radius: 6px;
    padding: 1rem 2rem;
    margin: auto;
    margin-bottom: 2rem;
    font-family: 'Roboto';
}

form label.top input:required {
    border-left: rgb(254, 111, 111) solid 6px;
}

form label.top input:required:valid {
    border-left: #008BC9 solid 6px;
}

.output {
    margin: .2rem;
}

.period {
    display: flex;
    
}

form label .period {
    margin: 0;
}

form label .period div {
    margin-top: 0;
}

form label .period input {
    margin: 0;
    width: 100%;
    margin-right: -1.5rem;
}


.additional-info-header {
    font-family: 'Roboto';
}

form ul {
    font-family: 'Roboto';
}

form ul {
    padding-left: 1rem;
}

.checkbox {
    padding: 1rem 0;
}

.contact-form fieldset {
    margin-left: 0;
    padding-left: 0;
}











.businesses {
    max-width: 960px;
    margin: auto;
    padding: 1rem 0 4rem 0;
    
}

.businesses section {
    background-color: #fff;
    height: 100%;
    padding: 0 1rem;
}

.businesses h2 {
    padding-top: 1rem
} 

.businesses img {
    padding-bottom: 1rem;
}


/*------ slider -----*/

#severity {
    margin-top: .8rem;
    -webkit-appearance: none;
    appearance: none;
    width: 21.5rem;
    height: 15px;
    background: #eeeeee;
    outline: none;
    border-radius: 8px;
    max-width: 80%;
}

#severity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    width: 26px;
    height: 26px;
    background: #008BC9;
    cursor: pointer;
}


.thankyou {
    display: block;
    text-align: center;
    margin: auto;
    color: #000;
    background-color: #ffffff;
    padding: 15rem 0;

}
.thankyou h1 {
    color: #000;
}

.thankyou h3 {
    color: #008BC9;
    border-bottom: #008BC9;
}

.contact-form {
    background-color: #ffffff;
    
}

.contact-form div {
    margin: 0;
    padding: .5rem 0 3rem 0;
}

.contact-map iframe{
    max-width: 20rem;
    margin-left: 2rem;
}





.tour-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: left;
    border-radius: 4px;
    background-color: #ffffff;
}

.tour-info {
    margin: -.4rem 0;
}

.tour-info h3 {
    background-color: #008BC9;
    color: #ffffff;
    margin-top: 0 ;
    padding: .5rem;
}

.tour-info p {
    padding: .5rem 1rem 1.1rem 1rem;
}






/*----------- FOOTER -----------*/

footer {
    background-color: #008BC9;
}

footer .footer-info {
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-left: 2rem;
}

.contact, .about, .products {
    text-align: left;
    margin: 1rem 0;
    color: #ffffff;
}

.last-updated {
    display: flex;
    
}