@media only screen and (min-width: 720px) {
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }

.container {
        margin: 0 10%;
    }

    main {
        width: 700px;
    }
}