/*################# Default ######################*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

p,
h6,
h5,
h4,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
}

/*################# Header ######################*/


header {
    display: flex;
    justify-content: space-between;
    background-color: #666A86;
    line-height: 10px;
    color: white;
    padding: 12px;
}

header div {
    display: flex;
}

header div div {
    display: block;
    margin-left: 10px;
}

header button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
}


header img {
    height: 45px;
    margin: 0 5px;
    border: 1px white solid;
    border-radius: 100%;
}

header div p {
    text-align: left;
}


/*################# Message ######################*/

#message {
    display: none;
    text-align: center;
    background-color: #4b84ac;
    color: #fff;
    font-size: 16px;
    padding: .4rem .3rem;
}



/*################# Nav ######################*/


nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

.selected {
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #333333;
    color: #fff;
}

.hide {
    display: none;
}



/*################# Clearfix ######################*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*################# Main Section ######################*/

.main-sections {
    background-color: #dadada;
    padding: 25px;
    border: #333333 dashed 1px;
}

main {
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.main-header {
    text-align: left;
}

.heroImg img {
    max-width: 100%;
    margin: auto;

}


/*################# Footer ##############*/

footer {
    background-color: #666A86;
    color: #fff;
    display: block;
    text-align: center;
    padding: 25px;
}

/*########### Town Data ################*/

section {
    background-color: #eeeeee;
    height: 100%;
}

.cards {
    padding-top: 1.5rem;
}

p,
h2,
h5 {
    display: block;
    text-align: center;
}

p:nth-child(6) {
    margin: .5rem;
    padding-bottom: 1rem;
}

.cards h2 {
    margin: 0;
    padding-top: 1rem;
    font-size: 18px;
}

.cards h5 {
    margin: 0;
    padding: .7rem;
    font-weight: normal
}

.cards img {
    max-width: 100%;
    margin: auto;
}

/*########### Article ################*/
article {
    margin: 4rem 0;
}

article p {
    text-align: left;
    margin: .5rem 0;
    line-height: 1.6rem;
}

.article-img {
    display: block;
    float: right;
    max-width: 100%;
    margin: auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.article::first-letter {
    font-size: 42px;
    font-weight: bolder;
}

article h3 {
    margin-bottom: 2rem;
}

/*########### Contact Information ################*/


.contactInfo {
    background-color: #dadada;
    margin-top: 1.5rem;
    padding: 2rem 1rem;
    line-height: .5rem;
}

.info {
    display: flex;
}

.info img {
    padding: .2rem .5rem;
}

.smallCityMap {
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 1rem;
}

.contactInfoLarge {
    display: none;
}